# Get these from https://www.emailjs.com after creating a service + template
VITE_EMAILJS_SERVICE_ID=service_maxmwlx
VITE_EMAILJS_TEMPLATE_ID=template_tf9el95
VITE_EMAILJS_PUBLIC_KEY=NEv_mRpgXzJYQQV_y
